@model BTZTransports.Models.Motorista

<form method="post" asp-action="Create">

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3"> Adicionar Motorista</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Nome">Nome</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Cpf">CPF</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Cnh">CNH</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Cnh" class="form-control" />
                        <span asp-validation-for="Cnh" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoriaCnh">Categoria CNH</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CategoriaCnh" class="form-control" />
                        <span asp-validation-for="CategoriaCnh" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DataNascimento">Data de Nascimento</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DataNascimento" class="form-control" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Status">Status</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Adicionar" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @*Keep this empty*@
            </div>
        </div>
    </div>

</form>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }

} 